
:root{
    --primary-bg-color: #f0f0f0; /* light mode background color */
    --text-color: #333; /* light mode text color */
}

body.dark-mode{
    --primary-bg-color: #333; /* dark mode background color */
    --text-color: #f0f0f0; /* dark mode background color */
}


body{
    /* set background and text color to either light mode or dark mode */
    background-color: var(--primary-bg-color); 
    color: var(--text-color);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  h1 {
    margin: 0;
    font-size: 32px;
  }
  
  button {
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .addItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  